.record-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.record-question {
    border-bottom: 1px solid var(--blue);
}

.record-box {
    margin: 1em 0;
}

.record-box:hover {
}

    div:hover > .delete-icon {
        display: block !important;
    }

.delete-icon {
    position: relative;
    top: -1em;
    left: -0.5em;
    height: 0;
    width: 0;
    display: none;
}

    .delete-icon button {
        width: 25px;
        height: 25px;
        border: none;
    }

    .delete-icon button:hover {
        background-color: unset;
    }

.answer-input {
    border: 1px solid var(--gray-blue);
}