<Frame CornerRadius="10" BackgroundColor="Color.White">

    <StackLayout Orientation="StackOrientation.Horizontal" HorizontalOptions="LayoutOptions.CenterAndExpand" VerticalOptions="LayoutOptions.CenterAndExpand">
        <Button OnClick="@IncrementCount">@Review.StartDate</Button>

        <Label Text="@("The review was clicked " + Review.Entries.Count + " times")"
               FontAttributes="FontAttributes.Bold"
               VerticalTextAlignment="TextAlignment.Center" />
    </StackLayout>
</Frame>

@code {
    [Parameter]
    public Review Review { get; set; }

    void IncrementCount()
    {
        Review.Add(new RangeEntry());
    }
}
