@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<nav class="navbar topbar">
    <a class="navbar-brand" href="#"><h2 style="margin:0">Reviewkly</h2></a>
    <div class="navbar-toggler nav-link" @onclick="ToggleNavMenu">
        <span class="fa fa-bars"></span>
    </div>

    <ul class="nav nav-menu @NavMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" @onclick="Logout">
                        Log out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Register">
                        Register
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Signin">
                        Signin
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await AuthService.Signout();
        NavigationManager.NavigateTo("/", true);
    }
}
