@inject NavigationManager NavigationManager

<div @onclick="Edit">
        <label>@($"Review from {Review.StartDate.ToShortDateString()} to  {Review.EndDate.ToShortDateString()}")</label>
        <label>@(Review.Status.ToString())</label>
        @*<i class="fas fa-check"></i>*@
</div>

@code {
    [Parameter]
    public Review Review { get; set; } = new Review();

    void Edit()
    {
        NavigationManager.NavigateTo($"/Review/{Review.Guid}");
        Console.WriteLine("Clicked on review cell");
    }
}