<ContentPage @ref="contentPage">
    <StackLayout>
        <Label Text="Review"></Label>
        <Label Text="@Review.Status.ToString()"></Label>
        <Label Text="@Review.StartDate.Date.ToString()"></Label>
        <Label Text="@Review.EndDate.Date.ToString()"></Label>
        @foreach(var entry in Review.Entries)
        {
            <EntryTemplate Entry="@entry"/>
        }
        <Button OnClick="Save">Save</Button>
    </StackLayout>
</ContentPage>

@code {
    Microsoft.MobileBlazorBindings.Elements.ContentPage contentPage;
    [Parameter]
    public Review Review { get; set; }

    public async Task Save()
    {
        Console.WriteLine("Review saved!");
        await contentPage.PopModalAsync();
    }
}
